![](imgs/logo.png)

# Przetwarzanie Big Data z użyciem Apache Spark

Autor notebooka: Jakub Nowacki.


## Spark SQL - statystyki z użyciem SQL 

W katalogu `data/` znajduje się plik `rollingsales_bronx.json`.

Poniżej analizujemy dane statystyczne domów: liczność, średnie powierzchnie, lata i ceny, grupując po dzielnicy i typie.

In [1]:
import pyspark
import pyspark.sql.functions as func
sc = pyspark.SparkContext(appName='HouseStatsSQL')
sqlContext = pyspark.sql.SQLContext(sc)

In [6]:
# Czytanie danych
sales = sqlContext.read.json('data/rollingsales_bronx.json')
# Nie zapomnij zarejestrować tabeli
sales.registerTempTable('sales')
sales.printSchema()
sales.show()

root
 |-- grossArea: long (nullable = true)
 |-- hood: string (nullable = true)
 |-- landArea: long (nullable = true)
 |-- price: long (nullable = true)
 |-- type: string (nullable = true)
 |-- year: long (nullable = true)

+---------+--------------------+--------+------+--------------------+----+
|grossArea|                hood|landArea| price|                type|year|
+---------+--------------------+--------+------+--------------------+----+
|     2048|BATHGATE         ...|    1842|355000|01  ONE FAMILY HO...|1901|
|     1290|BATHGATE         ...|    1103|474819|01  ONE FAMILY HO...|1910|
|     1344|BATHGATE         ...|    1986|210000|01  ONE FAMILY HO...|1899|
|     1431|BATHGATE         ...|    2329|343116|01  ONE FAMILY HO...|1901|
|     4452|BATHGATE         ...|    1855|     0|02  TWO FAMILY HO...|1931|
|     2400|BATHGATE         ...|    2000|316500|02  TWO FAMILY HO...|1993|
|     2394|BATHGATE         ...|    2498|390000|02  TWO FAMILY HO...|1995|
|     1542|BATHGATE         ...|    1542|207000|02  TWO FAMILY HO...|1899|
|     2340|BATHGATE         ...|    1819|     0|02  TWO FAMILY HO...|1998|
|     1296|BATHGATE         ...|    1667|369000|02  TWO FAMILY HO...|1910|
|     5881|BATHGATE         ...|    5000|308000|02  TWO FAMILY HO...|1910|
|     1512|BATHGATE         ...|    2483|     0|02  TWO FAMILY HO...|1901|
|     3382|BATHGATE         ...|    1562|443776|02  TWO FAMILY HO...|2004|
|     2655|BATHGATE         ...|     885|     0|02  TWO FAMILY HO...|1931|
|     3854|BATHGATE         ...|    2022|     0|03  THREE FAMILY ...|1899|
|     3290|BATHGATE         ...|    3525|440000|03  THREE FAMILY ...|1899|
|     2916|BATHGATE         ...|    1216|662115|03  THREE FAMILY ...|2004|
|     2280|BATHGATE         ...|    3742|     0|03  THREE FAMILY ...|1910|
|     2640|BATHGATE         ...|    1505|460000|03  THREE FAMILY ...|1901|
|     2640|BATHGATE         ...|    1505|190000|03  THREE FAMILY ...|1901|
+---------+--------------------+--------+------+--------------------+----+
only showing top 20 rows

In [7]:
query = """
SELECT 
    hood,
    type,
    COUNT(*) as count,
    AVG(landArea) as avgLandArea,
    AVG(year) as avgYear,
    AVG(price) as avgPrice
FROM sales
GROUP BY hood, type
ORDER BY hood, type
"""
a1 = sqlContext.sql(query)
a1.show()

+--------------------+--------------------+-----+------------------+------------------+------------------+
|                hood|                type|count|       avgLandArea|           avgYear|          avgPrice|
+--------------------+--------------------+-----+------------------+------------------+------------------+
|BATHGATE         ...|01  ONE FAMILY HO...|    4|            1815.0|           1902.75|         345733.75|
|BATHGATE         ...|02  TWO FAMILY HO...|   10|            2131.1|            1947.2|          203427.6|
|BATHGATE         ...|03  THREE FAMILY ...|    6|            2252.5|            1919.0| 292019.1666666667|
|BATHGATE         ...|05  TAX CLASS 1 V...|    1|            2099.0|               0.0|           40730.0|
|BATHGATE         ...|07  RENTALS - WAL...|    6|3161.6666666666665|            1924.5| 424286.1666666667|
|BATHGATE         ...|10  COOPS - ELEVA...|    1|               0.0|               0.0|               4.0|
|BATHGATE         ...|14  RENTALS - 4-1...|    3|1798.3333333333333|            1931.0|               0.0|
|BATHGATE         ...|22  STORE BUILDIN...|    3| 8805.666666666666|            1936.0|155384.66666666666|
|BATHGATE         ...|27  FACTORIES    ...|    1|            1578.0|            1997.0|               0.0|
|BATHGATE         ...|29  COMMERCIAL GA...|    7|  9901.57142857143| 1101.857142857143| 605714.2857142857|
|BATHGATE         ...|30  WAREHOUSES   ...|    1|            9180.0|            1931.0|         9733979.0|
|BATHGATE         ...|31  COMMERCIAL VA...|    4|           82420.0|               0.0|          909638.5|
|BATHGATE         ...|41  TAX CLASS 4 -...|    4|            4827.0|           1457.75|          307500.0|
|BAYCHESTER       ...|01  ONE FAMILY HO...|  106| 2707.622641509434|1941.8490566037735|175829.80188679244|
|BAYCHESTER       ...|02  TWO FAMILY HO...|  119|2780.8487394957983|1961.0756302521008|214003.38655462186|
|BAYCHESTER       ...|03  THREE FAMILY ...|   32|        2763.03125|         1978.8125|        244380.875|
|BAYCHESTER       ...|04  TAX CLASS 1 C...|    4|               0.0|            2008.0|          282164.0|
|BAYCHESTER       ...|05  TAX CLASS 1 V...|   10|            3322.1|             402.4|          134508.5|
|BAYCHESTER       ...|06  TAX CLASS 1 -...|    4|           2360.25|            1800.0|            2500.0|
|BAYCHESTER       ...|07  RENTALS - WAL...|    6| 8903.333333333334|1990.3333333333333| 83333.33333333333|
+--------------------+--------------------+-----+------------------+------------------+------------------+
only showing top 20 rows

## Zadania

* Popraw wyniki usuwając błędne dane.
* Zastosuj odpowiednią prezentację dany w zależności od typu.
* Policz średnie dla domów z XX w. tylko dla grup zawierających więcej niż 10 domów.
* ★ Policz średnie tylko dla 10 najbogatszych dzielnic.

In [19]:
query = """
SELECT 
    hood,
    type,
    COUNT(*) as count,
    CAST(AVG(landArea) AS DECIMAL(36,2)) as avgLandArea,
    CAST(AVG(year) AS INT) as avgYear,
    CAST(AVG(price) AS DECIMAL(36,2)) as avgPrice
FROM sales
WHERE 
    year > 1900 AND year < 2001 AND landArea <> 0 AND price <> 0
GROUP BY hood, type
HAVING (count > 10)
ORDER BY hood, type
"""
a1 = sqlContext.sql(query)
a1.show()

+--------------------+--------------------+-----+-----------+-------+----------+
|                hood|                type|count|avgLandArea|avgYear|  avgPrice|
+--------------------+--------------------+-----+-----------+-------+----------+
|BAYCHESTER       ...|01  ONE FAMILY HO...|   76|    2852.88|   1940| 237717.00|
|BAYCHESTER       ...|02  TWO FAMILY HO...|   67|    2795.90|   1948| 332438.84|
|BAYCHESTER       ...|03  THREE FAMILY ...|   11|    2572.27|   1958| 408090.91|
|BEDFORD PARK/NORW...|01  ONE FAMILY HO...|   11|    2839.09|   1909| 541681.82|
|BEDFORD PARK/NORW...|02  TWO FAMILY HO...|   21|    2443.67|   1914| 354427.71|
|BEDFORD PARK/NORW...|07  RENTALS - WAL...|   21|    8995.29|   1922|3907523.81|
|BEDFORD PARK/NORW...|08  RENTALS - ELE...|   13|   10067.77|   1931|3668538.46|
|BELMONT          ...|02  TWO FAMILY HO...|   18|    2724.94|   1915| 296362.00|
|BRONXDALE        ...|01  ONE FAMILY HO...|   37|    2143.81|   1945| 239997.59|
|BRONXDALE        ...|02  TWO FAMILY HO...|   41|    2486.93|   1940| 319214.80|
|CASTLE HILL/UNION...|01  ONE FAMILY HO...|   13|    2494.31|   1949| 252455.38|
|CASTLE HILL/UNION...|02  TWO FAMILY HO...|   42|    2632.10|   1945| 325260.14|
|CITY ISLAND      ...|01  ONE FAMILY HO...|   20|    4183.00|   1932| 305786.00|
|COUNTRY CLUB     ...|01  ONE FAMILY HO...|   40|    2809.85|   1942| 389514.10|
|COUNTRY CLUB     ...|02  TWO FAMILY HO...|   25|    3502.40|   1942| 419281.40|
|EAST TREMONT     ...|02  TWO FAMILY HO...|   11|    2321.36|   1921| 318790.91|
|EAST TREMONT     ...|03  THREE FAMILY ...|   12|    2455.42|   1944| 314229.75|
|FIELDSTON        ...|01  ONE FAMILY HO...|   12|   18210.33|   1922| 977499.17|
|FORDHAM          ...|02  TWO FAMILY HO...|   11|    2231.55|   1918| 288136.36|
|FORDHAM          ...|07  RENTALS - WAL...|   22|    6657.91|   1921|2315263.64|
+--------------------+--------------------+-----+-----------+-------+----------+
only showing top 20 rows

In [24]:
query = """ 
SELECT 
    hood,
    CAST(AVG(price) AS DECIMAL(36,2)) as avgPrice
FROM sales
WHERE 
    year > 1900 AND year < 2001 AND landArea <> 0 AND price <> 0
GROUP BY hood
ORDER BY avgPrice desc
LIMIT 10
"""
a1 = sqlContext.sql(query)
a1.show()

+--------------------+----------+
|                hood|  avgPrice|
+--------------------+----------+
|HIGHBRIDGE/MORRIS...|4667409.98|
|MOUNT HOPE/MOUNT ...|3506842.44|
|MOTT HAVEN/PORT M...|3322260.41|
|PELHAM PARKWAY SO...|2442798.89|
|CO-OP CITY       ...|2286666.67|
|FORDHAM          ...|2062679.20|
|BEDFORD PARK/NORW...|1879474.22|
|MELROSE/CONCOURSE...|1730579.11|
|KINGSBRIDGE/JEROM...|1569162.40|
|FIELDSTON        ...|1538845.38|
+--------------------+----------+