![](imgs/logo.png)

# Przetwarzanie Big Data z użyciem Apache Spark

Autor notebooka: Jakub Nowacki.


## Spark SQL - statystyki z użyciem SQL 

W katalogu `data/` znajduje się plik `rollingsales_bronx.json`.

Poniżej analizujemy dane statystyczne domów: liczność, średnie powierzchnie, lata i ceny, grupując po dzielnicy i typie.

In [1]:
import pyspark
import pyspark.sql.functions as func
sc = pyspark.SparkContext(appName='HouseStatsSQL')
sqlContext = pyspark.sql.SQLContext(sc)

In [2]:
# Czytanie danych
sales = sqlContext.read.json('data/rollingsales_bronx.json')
# Nie zapomnij zarejestrować tabeli
sales.registerTempTable('sales')
sales.printSchema()
sales.show()

root
 |-- grossArea: long (nullable = true)
 |-- hood: string (nullable = true)
 |-- landArea: long (nullable = true)
 |-- price: long (nullable = true)
 |-- type: string (nullable = true)
 |-- year: long (nullable = true)

+---------+--------------------+--------+------+--------------------+----+
|grossArea|                hood|landArea| price|                type|year|
+---------+--------------------+--------+------+--------------------+----+
|     2048|BATHGATE         ...|    1842|355000|01  ONE FAMILY HO...|1901|
|     1290|BATHGATE         ...|    1103|474819|01  ONE FAMILY HO...|1910|
|     1344|BATHGATE         ...|    1986|210000|01  ONE FAMILY HO...|1899|
|     1431|BATHGATE         ...|    2329|343116|01  ONE FAMILY HO...|1901|
|     4452|BATHGATE         ...|    1855|     0|02  TWO FAMILY HO...|1931|
|     2400|BATHGATE         ...|    2000|316500|02  TWO FAMILY HO...|1993|
|     2394|BATHGATE         ...|    2498|390000|02  TWO FAMILY HO...|1995|
|     1542|BATHGATE         ...|    1542|207000|02  TWO FAMILY HO...|1899|
|     2340|BATHGATE         ...|    1819|     0|02  TWO FAMILY HO...|1998|
|     1296|BATHGATE         ...|    1667|369000|02  TWO FAMILY HO...|1910|
|     5881|BATHGATE         ...|    5000|308000|02  TWO FAMILY HO...|1910|
|     1512|BATHGATE         ...|    2483|     0|02  TWO FAMILY HO...|1901|
|     3382|BATHGATE         ...|    1562|443776|02  TWO FAMILY HO...|2004|
|     2655|BATHGATE         ...|     885|     0|02  TWO FAMILY HO...|1931|
|     3854|BATHGATE         ...|    2022|     0|03  THREE FAMILY ...|1899|
|     3290|BATHGATE         ...|    3525|440000|03  THREE FAMILY ...|1899|
|     2916|BATHGATE         ...|    1216|662115|03  THREE FAMILY ...|2004|
|     2280|BATHGATE         ...|    3742|     0|03  THREE FAMILY ...|1910|
|     2640|BATHGATE         ...|    1505|460000|03  THREE FAMILY ...|1901|
|     2640|BATHGATE         ...|    1505|190000|03  THREE FAMILY ...|1901|
+---------+--------------------+--------+------+--------------------+----+
only showing top 20 rows

In [ ]:
query = """
SELECT 
    hood,
    type,
    COUNT(*) as count,
    AVG(landArea) as avgLandArea,
    AVG(year) as avgYear,
    AVG(price) as avgPrice
FROM sales
GROUP BY hood, type
ORDER BY hood, type
"""
a1 = sqlContext.sql(query)
a1.show()

## Zadania

* Popraw wyniki usuwając błędne dane.
* Zastosuj odpowiednią prezentację dany w zależności od typu.
* Policz średnie dla domów z XX w. tylko dla grup zawierających więcej niż 10 domów.
* ★ Policz średnie tylko dla 10 najbogatszych dzielnic.